@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(36, 36, 36);
  --default-text-color: white;
  --default-font-size: 22px;
}

body {
  background-color: var(--bg-color);
  color: var(--default-text-color);
  font-size: var(--default-font-size);
}
